/* All of the CSS for admin-specific functionality */
.publisher-page {
	position: relative;
	width: 100%;
	background-color: white;
	padding: 10px;
	overflow: hidden;
}

.publisher-page-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.publisher-page-header-title {
	font-size: 22px;
	font-weight: bold;
	line-height: 1;
}

.publisher-page-wrapper {
	position: relative;
	display: flex;
	min-height: 88vh;
	background-color: #fff;
}

.publisher-page-wrapper .badge {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.publisher-page-workspace {
	position: relative;
	flex-grow: 1;
	border: solid 1px silver;
	padding: 40px 10px 10px;
	max-width: calc(80% - 20px);
}

.publisher-page-console {
	position: relative;
	width: 100%;
	max-width: 20%;
	margin-left: 20px;
	border: solid 1px silver;
	padding: 40px 10px 10px;
}
